<div class="container">

  <h4>You have {{ tasks.length }} tasks, {{ remaining() }} remaining</h4>

  <div class="tasks">
    <div class="task" [class.done]="task.done" *for="#task of tasks #i=index">
      <span class="id">{{ i }}</span>
      <span>{{ task.name }}</span>
      <button class="btn btn-danger pull-right btn-sm" *if="task.done" (click)="changeState(task)">
        <i class="fa fa-square-o"></i> Not done
      </button>
      <button class="btn btn-success pull-right btn-sm" *if="!task.done" (click)="changeState(task)">
        <i class="fa fa-check-square-o"></i> Done
      </button>
      <div class="clearfix"></div>
    </div>
  </div>

  <hr/>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">New Task</div>
      <input type="text" class="form-control" id="taskName" placeholder="What to do?" #newtodo>

      <div class="input-group-addon add-btn" (click)="addTask($event,newtodo)">
        Add <i class="fa fa-reply fa-rotate-90"></i>
      </div>
    </div>
  </div>



</div>





